# tells Git which files or folders should not be tracked

# --- Python ---
__pycache__/
*.pyc
.venv/
env/
*.env

# --- Flask ---
instance/
*.db

# --- Node / Next.js ---
node_modules/
.next/
dist/
out/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- IDE ---
.vscode/
.idea/

# --- Local environment ---
.env.local
.env.production
.env.development